<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>YBP Admin</title>
    <script src="https://code.jquery.com/jquery.js"></script>	
</head>
<body> 
<header>
    <nav>
        <div class="wrapper">
            <a href="/"><img class="logo" src="/assets/img/logo.png"></a>
            <ul class="desknav">
                <li><a href="/admin/new-event">Add New Event</a></li>
            <li><a href="/admin/update-event">Update Event</a></li>
            <li><a href="/events">Remove Event</a></li>
            </ul>
            <ul class="ham_icons">
                <li><i class="fas fa-bars"></i></li>
            </ul>
        </div>
        <ul id="show_ham" class="mblnav_0">
            <li><a href="/admin/new-event">Add New Event</a></li>
            <li><a href="/admin/update-event">Update Event</a></li>
            <li><a href="/events">Remove Event</a></li>
        </ul>
    </nav>
</header>
<div class="overlay as">
</div>
 
    {{{body}}}

    <script src="/assets/js/app.js"></script>
<footer class="as">
    <div class="wrapper">
        <p class="footer_element">Admin page</p>
        
    </div>
</footer>
</body>
</html>