<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/backend.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/events.css" type="text/css" />
    <title>YBP</title>
    <script src="https://code.jquery.com/jquery.js"></script>	
</head>
<header>
    <nav>
        <div class="wrapper">
            <!-- <img class="logo" src="logo.svg"> -->
            <h1>LOGO</h1>
            <ul>
                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">GALLERY</a>
                </li>
                <li>
                    <a href="#">MEDIA</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
                <li>
                    <a href="#">ARTIST SIGN-UP</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-lock"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
		{{{ body }}}
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/event_app.js"></script>
    <script src="/assets/js/user_app.js"></script>
</body>
<footer>

</footer>
</html>