<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/backend.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/events.css" type="text/css" />
		<title>YBP</title>
		<script src="https://code.jquery.com/jquery.js"></script>	
	</head>
    <header>

    </header>
	<body>
		{{{ body }}}
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/event_app.js"></script>
    <script src="/assets/js/user_app.js"></script>
	</body>
    <footer>

    </footer>
</html>