<main>
    <div class="wrapper">
        <div class="top as">
            <div class="form_right">
                <h1>Add an event</h1>
                <form class="artist_form" method="POST" action="/admin/new-event">
                    <input type="text" name="eventName" placeholder="Event's Name*">
                    <input type="text" name="venueName" placeholder="Venue Name*">
                    <input type="date" name="eventDate" placeholder="Event Date*">
                    <input type="time" name="startTime" placeholder="Start Time">
                    <input type="number" name="showLength" placeholder="Show Length">
                    <input type="text" name="eventAddress" placeholder="Event Address">
                    <input type="text" name="eventCity" placeholder="City">
                    <input type="text" name="eventState" placeholder="State">
                    <input type="text" name="eventZip" placeholder="Zip Code">
                    <input type="text" name="eventCountry" placeholder="Country">
                    <input type="number" name="ageRestrictions" placeholder="Age Restriction">
                    <textarea rows="6" cols="50" name="showDetails" placeholder="Details of the Show"></textarea>
                    <input type="url" name="eventLink" placeholder="Link to tickting">
                    <input type="text" name="artist_01" placeholder="Main Artist performing #1">
                    <input type="text" name="artist_02" placeholder="Main Artist performing #2">
                    <input type="text" name="artist_03" placeholder="Main Artist performing #3">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</main>