<div class="overlay as">
</div>
<main>
    <div class="wrapper">
        <div class="top as">
            <div class="title artist_signup">
                <div class="form_left">
                    <h1 class="blue">WANT TO PERFORM?</h1>
                    <h2>NOW BOOKING</h2>
                    <div class="booking">
                        <p><i class="fas fa-check"></i> PAINTERS</p><p><i class="fas fa-check"></i> SINGERS</p><p><i class="fas fa-check"></i> ARTISTS</p><p><i class="fas fa-check"></i> DJS</p>
                        <p><i class="fas fa-check"></i> HIP-HOP ACTS</p><p><i class="fas fa-check"></i> BANDS</p><p><i class="fas fa-check"></i> COMEDIANS</p>
                    </div>
                    <p>Make sure to fill out all of the required areas and as many links to your work as possible. Your information will be reviewd by the team as soon as possible. We really appreciate you'r interest and hope to work with you soon.<br><br>Thank You</p>
                </div>
                <div class="form_right">
                    <form class="artist_form" action="/action_page.php" method="POST">
                        <p class="form_title1">CONTACT INFO</p>
                        <input type="text" name="groupName" placeholder="Group/Artist Name*">
                        <input type="text" name="contactName" placeholder="Contact Name*">
                        <input type="text" name="contactEmail" placeholder="Email Address*">
                        <input type="text" name="contactPhone" placeholder="Phone number">
                        <p class="form_title2">MEDIA LINKS</p>
                        <input type="text" name="personalWebsite" placeholder="Website">
                        <input type="text" name="instagramLink" placeholder="Instagram Link">
                        <input type="text" name="spotifyLink" placeholder="Spotify Link">
                        <input type="text" name="twitterLink" placeholder="Twitter Link">
                        <input type="text" name="soundcloudLink" placeholder="Soundcloud Link">
                        <input type="text" name="youtubeLink" placeholder="Youtube Link">
                        <input type="text" name="appleMusicLink" placeholder="Apple Music Link">
                        <input type="text" name="otherLink1" placeholder="Other Link">
                        <input type="text" name="otherLink2" placeholder="Other Link">
                        <input type="text" name="upcomingProjects" placeholder="Upcoming Projects">
                        <input type="text" name="comments" placeholder="Comments">
                        <input type="submit" value="Submit">
                    </form> 
                </div>
            </div>
        </div>
    </div>
</main>