<div class="overlay">
</div>
<main>
    <div class="wrapper">
        <div class="top">
            

	<div>
         <h1 style="color:white; font-size: 150px;">EVENTSXXX</h1>
        {{#each event}}

        <P style="color:aqua; font-size:22px;">
            event ID: {{this.dataValues.id}}<br>
            Event Name: {{this.dataValues.eventName}}<br>
            Event Date: {{this.dataValues.eventDate}}<br>
            <hr><br>
            </P>

        {{/each}}
    </div>

        </div>
        <div class="about">
            <div class="wrapper">
                <h1>WHO WE ARE</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a accusantium alias natus, quisquam excepturi earum vitae est pariatur sapiente velit eum, necessitatibus laboriosam unde veniam minus maiores quod omnis.</p>
            </div>
        </div>
</main>
