<div class="overlay">
</div>
<main>
    <div class="wrapper">
        <div class="top">
            <div class="title">
                <img src="/assets/img/logo.png">
                <form action="/action_page.php">
                    <input type="text" name="lastname" value="Enter your Email Address">
                    <br><br>
                    <input type="submit" value="subscribe">
                  </form> 
            </div>
        </div>
        <div id="events_link" class="events">
            <h1>TOP 10 EVENTS</h1>
            <div class="event_list scrolling-wrapper">
                <a href="#"><div class="temp card">1</div></a>
                <a href="#"><div class="temp card">2</div></a>
                <a href="#"><div class="temp card">3</div></a>
                <a href="#"><div class="temp card">4</div></a>
                <a href="#"><div class="temp card">5</div></a>
                <a href="#"><div class="temp card">6</div></a>
                <a href="#"><div class="temp card">7</div></a>
                <a href="#"><div class="temp card">8</div></a>
                <a href="#"><div class="temp card">9</div></a>
                <a href="#"><div class="temp card">10</div></a>
            </div>
            <a href="#events_link" class="btn">view all events</a>
        </div>
    </div>
        <div class="about">
            <div class="wrapper">
                <h1>WHO WE ARE</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a accusantium alias natus, quisquam excepturi earum vitae est pariatur sapiente velit eum, necessitatibus laboriosam unde veniam minus maiores quod omnis.</p>
            </div>
        </div>
</main>
