* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
a:hover, a{
    text-decoration: none;
    color: inherit;
}
header {
    z-index:1;
    position: fixed;
    top: 0px;
    width: 100%;
}
footer {
    text-align: center;
}
.wrapper {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
}
nav .wrapper {
    display:grid;
    grid-template-columns: 10% 90%;
    color:#fff;
}
nav .wrapper ul, .fa-bars {
    margin: auto 0px;
    text-align: right;
    list-style-type: none;
}
nav .wrapper ul li, .media_nav li {
    display: inline-block;
}
nav .wrapper ul li a, .media_nav li a {
    color: #fff;
    text-decoration: none;
    padding-left: 50px;
    font-size: 12px;
}
nav .wrapper ul li a:hover, 
svg:hover, 
nav .wrapper .fa-bars:hover,
.mblnav_1 li a:hover {
    color:#d3d3d3;
    fill:#d3d3d3;
}
.logo {
    max-width: 127px;
}
nav, footer {
    background:rgba(0, 0, 0, 0.87);
    padding: 15px 0px;
}
.mblnav_1 {
    text-align: center;
    width:100%;
}
.mblnav_1 a {
    padding-left: 50px;
    font-size: 12px;
    text-decoration: none;
    color:#fff;
}
.mblnav_1 li {
    padding-top:13px;
}
.footer_element {
    vertical-align: -webkit-baseline-middle;
    color:#fff;
    padding-left: 50px;
    font-size: 15px;
    display: inline-block;
    padding: 0px 12px;
}
svg {
    fill:#fff;
}
.ham_icons, .mblnav_0 {
    display: none;
}
nav .wrapper .ham_icons li a{
    padding-left: 10px;
}

.about, .events, .anabaca, .music, .videos, .gallery .wrapper {
    padding-top:50px;
    padding-bottom:50px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1a1a1a;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #1a1a1a;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #1a1a1a;
}
:-moz-placeholder { /* Firefox 18- */
    color: #1a1a1a;
}
.blue {
    color:rgb(0, 162, 255);
}

/* index page */


.overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(0, 0, 0, 0.78);
}
.overlay {
    background:url("/assets/img/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.top {
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.title img {
    padding: 0px 60px;
    max-width: 700px;
    min-width:90px;
    width:100%;
    padding-bottom: 30px;
}
.title {
    position: relative;
    top: 42%;
    margin: auto;
}
input[type=submit], a.btn {
    text-align: center;
    padding: 5px;
    font-size: 22px;
    background: rgba(0, 162, 255, 0.55);
    display: block;
    text-decoration: none;
    color: #fff;
    width: 186px;
    border-radius: 56px;
}
input[type=submit].home, a.btn {
    margin: auto;
}
input[type=submit]:hover, a.btn:hover {
    background: rgba(0, 162, 255, 0.733);
}
.events a.btn {
    background: rgb(0, 162, 255);
}
.events a.btn:hover {
    background: rgb(0, 138, 218);
}
input[type=text], input[type=number],
input[type=date], input[type=time],
input[type=url], textarea {
    max-width: 450px;
    min-width: 90px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background: rgba(255, 255, 255, .68);
}
input[type=text].home1 {
    border-radius: 40px;
}
h1 {
    text-align: center;
    padding-bottom: 30px;
}
.about, .music {
    background:#1b1b1b;
    color:#fff;
}
.about p {
    margin: auto;
    text-align: center;
    max-width: 560px;
}
.scrolling-wrapper {
    padding-bottom: 14px;
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 30px;
}
.scrolling-wrapper .events_card {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    margin: 0px 20px;
    overflow-y: scroll;
}
.anabaca .logo {
    padding-bottom: 30px;
    max-width: 300px;
    min-width: 20px;
    width: 100%;
}
.anabaca {
    text-align: center;
}
.events_card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.social_media {
    position: absolute;
    bottom:10px;
    right: 10px;
}
.anabaca_content {
    display: grid;
    grid-template-columns: 50% 50%;
}
.anabaca_donate img {
    max-width: 300px;
    min-width: 90px;
    width: 100%;
}
.anabaca_donate img:hover {
    max-width: 302px;
}


/* artist_signup page */
.overlay.as {
    position:fixed;
    height: 100%;
}
.top.as {
    padding-top: 140px;
    height: 100%;
}
.artist_signup {
    color:#fff;
    display:grid;
    grid-template-columns: 35% 65%;
}
.event_edit {
    color:#fff;
    display:grid;
    grid-template-columns: 1fr;
}
.event_edit .form_left, .event_edit .form_right {
    margin: auto;
    max-width: 800px;
    width: 100%;
}
.event_edit .form_right {
    padding-bottom: 90px;
}
.artist_form {
    display: grid;
    grid-template-columns:50% 50%;
    grid-gap: 10px;
}
.booking {
    padding: 4px 0px 17px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fa-check {
    color: rgb(0, 138, 218);
    font-size: 12px;
}
input[name=comments] {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: none;
}
.artist_form input[type=text] {
    border-radius: 0px;
}
.artist_form input[type=submit] {
    margin: 0;
}
.form_right, .form_left {
    padding: 0px 20px 10px;
    margin-bottom: 30px;
}
.form_right, .form_left, .form_left h1, .event_edit .form_right h1 {
    text-align: left;
}
.form_left {
    background: rgba(0, 0, 0, 0.35);
}
.form_title1, .form_title2 {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: none;
}

/* media page */
.overlay.media, .top.media, .overlay.events, .top.events,
.overlay.gallery, .top.gallery {
    height: 40vh;
}
.media .title h1, .events .title h1, .gallery .title h1 {
    color:#fff;
    font-size: 45px;
}
.media_nav li a, .events li a, .gallery li a {
    padding: 0px 20px;
}

.event_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 30px 0px;
}
.videos .event_list, .gallery .event_list {
    grid-template-columns: 1fr 1fr;
}
.events_card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}
.events_card h2 {
    color: #fff;
    margin-bottom: 10px;
    background: #00a2ff;
    font-size: 19px;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 8px 8px 0px 0px;
}
.events_card h2 span{
    color: #005384;
}
.events_card h3 span{
    font-weight: 600;
    color:#00a2ff;
}
.events_card h3 {
    font-size: 17px;
    padding: 10px 15px;
}
.music .event_list {
    padding: 0px;
}
.media_nav {
    position: fixed;
    top: 60px;
    z-index: 6;
    right: 0;
    width: 100%;
    text-align: right;
    background: rgba(0, 0, 0, 0.87);
    padding: 7px 0px;
}
.music_card, .video, .gallery_card {
    width: 100%;
}
.music .event_list a:hover {
    width: 102%;
}
.overlay.admin {
    background: url(/assets/img/gallery/2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}



@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {

}
@media (min-width: 767.99px) {
    footer.as {
        bottom:0px;
        position: fixed;
        width: 100%;
    }
    .ev.wrapper {
        padding-bottom: 50px;
    }
}
@media (max-width: 767.98px) {
    .videos .event_list,  {
        grid-template-columns: 1fr;
    }
    .event_list {
        grid-template-columns: 1fr 1fr;
    }
    .anabaca .logo {
        max-width: 190px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 12px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 12px;
    }
    :-ms-input-placeholder { /* IE 10+ */
        font-size: 12px;
    }
    :-moz-placeholder { /* Firefox 18- */
        font-size: 12px;
    }
    .desknav {
        display: none;
    }
    .ham_icons {
        display: inline-block;
    }
    .mblnav_1 {
        display: block;
    }
    .artist_signup {
        grid-template-columns: 100%;
    }
    .booking {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .anabaca_content {
        grid-template-columns: 100%;
    }
    .anabaca_donate img {
        max-width: 380px;
        padding-top: 30px;
    }
    .anabaca_donate img:hover {
        max-width: 382px;
    }
    .mbcenter {
        text-align: center;
    }
    .overlay.media, .top.media, .overlay.events, .top.events,
    .overlay.gallery, .top.gallery {
        height: 25vh;
    }
    .media .social_media, .events .social_media, .gallery .social_media {
        display: none;
    }
    .media .title h1, .events .title h1, .gallery .title h1 {
     padding-bottom: 10px;
    }
}
@media (max-width: 575.98px) {
    .title a {
        font-size: 15px;
        width: 166px;
    }
    .event_list {
        grid-template-columns: 1fr;
    }
}



